body {
    font-family: Arial;
    background-color: rgb(255, 227, 227);
    text-align: center;
}

h1 {
    color: rgb(255, 162, 162);
    font-size: 50px;
}
header {
    background-color: rgb(44, 0, 0);
    padding: 20px;
}
p {
    font-size: 20px;
}